@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Omnes';
  src: url('/fonts/Omnes Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'OmnesBold';
  src: url('/fonts/Omnes Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 

body 
{
  font-family: 'Omnes';
}

.omnesBold 
{
  font-family: 'OmnesBold';
}