@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Omnes';
  src: url('/kaya-astro-portfolio/fonts/Omnes Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'OmnesBold';
  src: url('/kaya-astro-portfolio/fonts/Omnes Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 

body 
{
  font-family: 'Sen', sans-serif;
  /* font-family: 'Omnes', sans-serif; */
}

.omnesBold 
{
  font-family: 'OmnesBold', sans-serif;
}