---
import CardLayout from '../components/CardLayout.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Image from 'astro/components/Image.astro'
import KayaAbout from '../assets/images/kaya-about-rounded.png'

---
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
	<link href="/src/styles/tailwind.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela Round" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d4df086054.js" crossorigin="anonymous"></script>

  <style>
    body
    {
      font-family: 'Varela Round', sans-serif;
    }
  </style>
    <title>About - Kaya Cook Portfolio</title>
  </head>
  <body class="bg-violet-200 "> <!--purple-200-->
    <Navbar></Navbar>
    <div class="flex h-full">
        <div class="mx-auto w-11/12 lg:w-3/4 xl:w-3/5 2xl:w-1/2 bg-white p-8 rounded-xl shadow-sm">
            <div class="mx-6">
              <h1 class="text-2xl font-bold mb-4">About</h1>
              <p class="text-gray-700 mb-4 text-xl">Hi, I'm Kaya Cook! I'm a junior studying Computer Science Games at USC, primarily interested in gameplay programming and software engineering. I'm currently a Gameplay/UI programmer for Shepherds, a USC Games MFA thesis game. I like to make games with simple, engaging mechanics, that are cute and polished! Personally, I love to play games like The Sims 4, Slime Rancher and Cookie Run: Kingdom, as well as games with my friends on Roblox!</p>
                <Image src={KayaAbout} class="h-96 w-auto" alt="Kaya About"></Image>
            </div>
        </div>
      </div>
    <Footer></Footer>
  </body>
</html>