---
import CardLayout from '../components/CardLayout.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

---
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
	<link href="/src/styles/tailwind.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sen" rel="stylesheet">
    <title>Kaya Cook Portfolio</title>
    <script src="https://kit.fontawesome.com/d4df086054.js" crossorigin="anonymous"></script>
  </head>
  <body class="bg-purple-200 font-omnes"> <!--purple-200-->
    <Navbar></Navbar>
    <Header></Header>
    <CardLayout></CardLayout>
    <Footer></Footer>
  </body>
</html>