---
import CardLayout from '../components/CardLayout.astro'
import Navbar from '../components/Navbar.astro'

---

<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
	<link href="/src/styles/tailwind.css" rel="stylesheet">
    <title>kaya cook portfolio</title>
  </head>
  <body class="bg-purple-200">
	<Navbar></Navbar>

	<CardLayout></CardLayout>
	  
  </body>
</html>