---
interface Props {
	text: string;
	key: number;
}

const { text } = Astro.props;

const colorMap = {
        unity: 'bg-sky-500',
        'c#': 'bg-indigo-500',
        'lua': 'bg-purple-500',
        'roblox studio': 'bg-cyan-500',
        'yarnspinner': 'bg-amber-400',
        '2.5d': 'bg-emerald-500',
        '3d': 'bg-green-500',
        '2d': 'bg-teal-400',
        'narrative': 'bg-fuchsia-400',
        'rhythm-rpg': 'bg-rose-400',
        'multiplayer': 'bg-pink-400',
        'simulator': 'bg-orange-400',
        'puzzle-adventure': 'bg-red-400'
      
      };
    const defaultColor = 'bg-slate-400'
    
    const colorClass = colorMap[text.toLowerCase()] || defaultColor;
---
<span class={` text-white text-sm sm:text-lg font-medium me-2 px-2.5 py-0.5 mt-2 rounded-full whitespace-no-wrap ${colorClass}`}>{text}</span>
