<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/src/styles/tailwind.css" rel="stylesheet">

</head>
<body>
  <footer class="text-[#21062f] py-12 text-md sm:text-xl">
    <div class="flex justify-center p-4 mb-4">
      <a href="https://rhizostomae.itch.io" target="_blank" class="mx-4 hover:text-rose-600">
        <i class="fab fa-itch-io text-6xl"></i>
      </a>
      <a href="https://www.linkedin.com/in/kaya-cook" target="_blank" class="mx-2 hover:text-rose-600">
        <i class="fa-brands fa-linkedin text-6xl"></i>
      </a>
      <a href="mailto:kmcook@usc.edu" target="_blank" class="mx-4 hover:text-rose-600">
        <i class="fas fa-envelope text-6xl "></i>
      </a>
    </div>
      <div class="container mx-auto text-center">
        <p>designed and developed by kaya cook.</p>
          <p>&copy; 2024</p>
      </div>
  </footer>
</body>
</html>
