<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/src/styles/tailwind.css" rel="stylesheet">

</head>
<body>
  <footer class="text-black py-16 text-xl">
      <div class="container mx-auto text-center">
          <p>&copy; 2024 Kaya Cook.</p>
      </div>
  </footer>
</body>
</html>
