<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/src/styles/tailwind.css" rel="stylesheet">
  <style>
    .pixel
    {
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
  </style>
</head>
<body class="font-omnes font-black">
  <span class="flex mx-auto text-center items-center justify-center">
    <h1 class="text-[6rem] pb-14 text-black">kaya cook</h1>
  </span>
</body>
</html>

