---
import logo from '../assets/images/mango-nav.png'
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/src/styles/tailwind.css" rel="stylesheet">
</head>
<body>

<nav class="p-4 flex justify-between items-center w-full mb-4">
  <div class="flex items-center ml-1 sm:ml-4">
    <a href="/kaya-astro-portfolio/" class="flex items-center">
    <img src={logo.src} alt="Logo" class="h-10 w-auto mr-3">

    <span class="text-[#21062f] text-base sm:text-xl font-semibold hover:text-rose-600">Kaya Cook</span>
    </a>
  </div>

  <div class="flex items-center mr-4">
    <a href="/kaya-astro-portfolio/" class="text-[#21062f] text-base sm:text-xl mr-4 hover:text-rose-600">Work</a>

    <a href="/kaya-astro-portfolio/about" class="text-[#21062f] text-base sm:text-xl hover:text-rose-600">About</a>
  </div>
</nav>

</body>
</html>
