---
import logo from '../assets/images/mango-nav.png'
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/src/styles/tailwind.css" rel="stylesheet">
</head>
<body>

<nav class="p-4 flex justify-between items-center w-full mb-4">
  <!-- Left side: Logo and brand name -->
  <div class="flex items-center ml-4">
    <a href="/kaya-astro-portfolio/" class="flex items-center">
    <!-- Logo -->
    <img src={logo.src} alt="Logo" class="h-10 w-auto mr-3">

    <!-- Brand Name -->
    <span class="text-black text-xl font-semibold">Kaya Cook</span>
    </a>
  </div>

  <!-- Right side: Links to pages -->
  <div class="flex items-center">
    <!-- Link to Work page -->
    <a href="/kaya-astro-portfolio/" class="text-black text-xl mr-4 hover:customred">Work</a>

    <!-- Link to About page -->
    <!-- <a href="/about" class="text-black text-xl mr-8 hover:hoverText">About</a> -->
  </div>
</nav>

</body>
</html>
